html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;

}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'DM Sans', arial, sans-serif;
	background: #191919;
}
.container{
	max-width: 1400px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
	
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 60;
	line-height: 57px;
	
	margin: 0 auto;
	color: #fff;
	width: 526px;
	height: 176px;
	margin-top: 200px;	
	
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn{
	background: #118DA8;
	box-shadow: 0px 4px 0px #06313b;
	border-radius: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	height: 51px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 178px;;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #06313b;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header{
	width: 1440px;
}
.head_in{
	padding:40px;
}
.logo{
	width: 160px;
	height: 33px;
	left: 0;
	top: 0;
	padding: 4px;
}
a{
	color: #fff;
	text-decoration: none;
}
a:visited{
	color: #fff; 
}
a:hover{
	color: #118DA8;
	
}
.menu{
	width: 403px;
	height: 67px;
}
.menu li{
	list-style: none;
	width: 49px;
	height: 27px;
	color: #fff;
}
.main_right{
	margin: 66px;
}
.main_imgs{
	display: flex;
}
.img_1{
	padding-left: 25px;
	width: 191px;
	height: 88px;
}

.img_2{
	
	width: 160px;
	height: 104px;

}
.txt{
	margin-bottom: 13px;

}
.main_in{
	margin: 6px;
}
.main_img{
	width: 650px;
	height: 873px;
	border-radius: 155px;
	border: 1px solid;
	border-color: #242424;
}
.main_imgs{
	width: 160px;
	height: 104px;

}
.txt{
	margin-top: 45px;
	color: #fff;
}
.main_right .sec_tit{
	font-size: 70px;
	width: 526px;
	height: 176px;
}
.icon{
	width: 112px;
	height: 112px;
}
.main_icons{
	width: 245px;
	margin-right: 17px;
}
.main_ic__spotify{
    margin-right: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:  url(../img/icons/spotify.svg) center no-repeat;
    transition: 0.3s;
}
.main_ic__tangio{
    margin-right: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:  url(../img/icons/tangio.svg) center no-repeat;
    transition: 0.3s;
}
.main_ic__soundcloud{
    margin-right: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:  url(../img/icons/soundcloud.svg) center no-repeat;
    transition: 0.3s;
}
.main_ic__applepadcast{
    margin-right: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:  url(../img/icons/applepadcast.svg) center no-repeat;
    transition: 0.3s;
}
.main_ic__overcast{
    margin-right: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:  url(../img/icons/overcast.svg) center no-repeat;
    transition: 0.3s;
}
.episodes_in{
	width: 1300px;
}
.blocs {
    height: 645px;
    left: 3.57%;
    right: 3.57%;
    top: 239.44px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 15px;
}

.d1 {
    display: block;
    
}

.imgs {
    height: 465px;
    left: 0%;
    right: 0%;
    top: calc(50% - 465px/2);

    background: url(.jpg);
    border-radius: 0px;

    float: left;
    margin: 25px;
}
.p1 {

    height: 27px;
    left: 0%;
    right: 90.62%;
    top: 7.56px;
	margin-bottom: 20px;
}

.a1 {
    height: 27px;
   margin-bottom: 20px;
    right: 89.46%;
    top: 83px;
}

h3 {
    

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 2.56px;

    color: #FFFFFF;
}

.p2 {
    
    height: 99px;
    left: 0%;
    right: 2.7%;
    top: 296.56px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;


    color: rgba(255, 255, 255, 0.7);

}

.a2 {
  
    height: 27px;
    left: 9.62%;
    right: 7.21%;
    top: 12px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
}
.view{
	display: flex;

}
.blocs{
	margin-bottom: 60px;
}
  